@{
    ViewBag.Title = "CreateProduct";
}
<html>
<h2>Create Product</h2> 
<form action="/Product/CreateProducts" method="post">
    Product Name: <input type="text" name="Name" value="" /><br />
    Product Price: <input type="text" name="Price" value="" /><br />
    Product Category: <input type="text" name="Category" value="" /><br />      <input type="submit" name="BtnSubmit" value="Create Product" />
</form>        
</html>
