@{
    ViewBag.Title = "DeleteProduct";
} <h2>DeleteProduct</h2> 
<html>
<div><form action="/Product/DeleteProducts" method="post" />    
    Product Id <input type="text" name="Id" />
    <input type="submit" name="BtnSubmit" value="Delete" />
    </form>
</div>
</html>